* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none;
    list-style: none;
}

body {
    padding: 1em;
    margin: 0.5em 0;
    font-family: Arial, sans-serif; 
    line-height: 1.5;
    background-color: #f5faff; 
    color: #333;
}